*#
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
.idea/
/project/plugins/project
src/main/webapp/components
src/main/resources/dist
src/main/webapp/dist
project/boot
target/
.sass-cache
/logs
.cache
.classpath
.project
.settings
.DS_Store
RUNNING_PID
node_modules
