*#
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
.idea/
/project/plugins/project
src/main/resources/public/components
project/boot
target/
/logs
.cache
.classpath
.project
.settings
.DS_Store
RUNNING_PID
node_modules
