<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Please choose a course:</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <a href="/#/{{ workflow.steps.term.id }}/{{ workflow.steps.school.id }}/{{ workflow.steps.department.id }}/{{ course.id }}"
         class="list-group-item" ng-repeat="course in courses">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="large-item">{{ course.id + ' ' + course.title }}</span>
      </a>
    </div>
  </div>
</div>
